@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400");
html, body {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../img/01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.section {
  background-color: rgba(0, 0, 0, 0.89);
  height: 100vh;
  padding: 20px; }

.header {
  position: relative; }

.nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

p {
  font-family: 'Rajdhani', sans-serif;
  font-size: 300;
  color: #808080; }

span {
  font-weight: bold;
  color: #ff0000; }

.info {
  padding-top: 100px;
  text-align: center; }

.read__more {
  padding-bottom: 50px; }

li a {
  color: #808080;
  text-decoration: none; }
