@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400");
html, body {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../img/01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.section {
  background-color: rgba(0, 0, 0, 0.89);
  height: 100%;
  padding: 20px; }

.header {
  position: relative; }

.wrapper {
  display: none; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.social {
  margin-bottom: 135px; }
  .social__icon img {
    opacity: 1; }
  .social__icon img:hover {
    opacity: 0.6; }
  .social__list {
    max-width: 150px;
    margin: 0 auto; }
  .social__text {
    text-align: center;
    color: #98b4bb;
    font-size: 18px;
    text-decoration: overline;
    margin-top: 135px; }

p {
  font-family: 'Rajdhani', sans-serif;
  font-size: 300;
  color: #808080; }

span {
  font-weight: bold;
  color: #ff0000; }

.info {
  padding-top: 100px;
  text-align: center; }

.read__more {
  padding-bottom: 50px; }

li a {
  color: #808080;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 15px; }

li a:hover {
  text-decoration: none;
  color: #98b4bb; }

.second__text {
  display: none; }

.gallery__list {
  min-width: 350px; }

.gallery__text {
  text-align: center;
  color: #98b4bb;
  font-size: 18px;
  text-decoration: overline; }

.photo img {
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
  -webkit-filter: gray;
  filter: gray;
  /* IE 6-9 */
  margin-top: 15px;
  margin-right: -15px; }

.photo img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

.skills__text {
  text-align: center;
  color: #98b4bb;
  font-size: 18px;
  text-decoration: overline;
  margin-top: 135px; }

strong {
  color: #ff0000;
  position: absolute;
  -webkit-transform: translate(-137%, 75%);
  -ms-transform: translate(-137%, 75%);
  transform: translate(-137%, 75%);
  font-size: 28px;
  font-weight: 400; }
